{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
   #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

    </style>
</head>
<body>
    <table id="customers">
    <thead>
        <tr>
        <th>Name</th>
        <th>File</th>
        </tr>
    </thead>
    {%for instance in object_list %}
    <tbody>
    <tr>
        <td >{{instance.name}}</td>
        <td><button><a href="{{instance.document.url}}" target="_blank">Download</a></button></td>
    </tr>    
    </tbody>
    {% endfor %}
</body>
</html>